body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 50vh;
  border: 1px solid limegreen;
  border-radius: 5px;
}

.username{
  position: absolute;
  color: limegreen;
  font-weight: 700;
  top: 15px;
  right: 20px;
}

input{
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

button{
  background-color: lightgreen;
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}